<div class="img-wrapper">
  <div *ngIf="favoriteIconClicked">
    <mat-card>
      <mat-card-header>
        <mat-icon class="favorite-icon" (click)="onFavoriteIconClick($event)">favorite</mat-icon>
      </mat-card-header>
      <img src="{{url}}" width="{{width}}" height="{{height}}" #img>
    </mat-card>
  </div>
  <div *ngIf="!favoriteIconClicked">
    <mat-card>
      <mat-card-header>
        <mat-icon class="favorite-icon" (click)="onFavoriteIconClick($event)">favorite_border</mat-icon>
      </mat-card-header>
      <img src="{{url}}" width="{{width}}" height="{{height}}" #img>
    </mat-card>
  </div>

</div>
