<mat-toolbar fxLayoutWrap>
  <button mat-icon-button (click)="onSideBarButtonToggle()" >
    <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>
  </button>
  <span>Photo Gallery Sotiris</span>
</mat-toolbar>
