<div fxLayout="column" style="padding: 20px">
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  </p>
  <div *ngIf="showFavorites">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutWrap>
      <div *ngFor="let item of imagesFavoriteList">
        <app-image [url]=item.url [height]=item.height [width]=item.width [isFavorite]=item.isFavored (favoriteToggle)="onImageClick($event)"></app-image>
      </div>
    </div>
  </div>
  <div *ngIf="!showFavorites">
    <div fxLayout="row" fxLayoutGap="20px" fxLayoutWrap>
      <div *ngFor="let item of imagesList">
        <app-image [url]=item.url [height]=item.height [width]=item.width [isFavorite]=item.isFavored (favoriteToggle)="onImageClick($event)"></app-image>
      </div>
    </div>
  </div>
</div>
