<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]= 'side'>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="sidebar">
    <app-navbar color="primary"></app-navbar>
    <app-main></app-main>
  </mat-sidenav-content>
</mat-sidenav-container>
